# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Andreas Koenig <andk@cpan.org> <andreas.koenig.7os6vvqr@franz.ak.mind.de>
Andreas Koenig <andk@cpan.org> Sandy Andy
Kent Fredric <kentnl@cpan.org> <kentfredric@gmail.com>
Chris 'BinGOs' Williams <chris@bingosnet.co.uk> Chris Williams
